@tailwind base;
@tailwind components;
@tailwind utilities;

.lalezar-regular {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}


.customText {
    font-size: 20px;
    font-family: "Lalezar", system-ui;
}

.customText2 {
    font-size: 40px;
    font-family: "Lalezar", system-ui;
}

.overflowBox {
    width: full;
    height: 350px;
    overflow: auto;
    padding: 5px;
}



@media (min-width: 768px) {
    .customText {
        font-size: 34px;
        font-family: "Lalezar", system-ui;
    }

    .customText2 {
        font-size: 30px;
        font-family: "Lalezar", system-ui;
    }
}